<div class="col-md-12">
    <img src="/assets/login.jpg" alt=""  height="550"width="1350">
</div><br>
<div class="back" >
<div class="about-container">
    
    <h2 class="abt"> About Our MI Rentals</h2>
    <p>We are a bunch of millennials focused on building India’s largest mobility solutions provider. Our focus has led us to build a platform providing rentals spanning across 14 states, 43 cities and 3 international cities.
        Transportation and mobility solutions is one of the least understood and most unorganized markets. We see this as an unexplored opportunity to build a system that can be trusted by everyone beyond barriers.
        We have no limitations when it comes to two wheelers and enjoy serving everything from a scooter to a superbike available on both website and mobile application.
        We are obsessed with the concept of ‘Why buy when you can rent’.</p>
    <p>Welcome to our MI Rental service! We aim to provide convenient and eco-friendly transportation options to our community.</p>
    
    <section class="section-journey">
        <div class="section-journey-container">
          <h2 class="center-align">Our Journey</h2>
          <div class="line-content-container">
            <div class="line"></div>
            <div class="cards">
             <div class="main-card">
                <div class="main-card-text">
                  <h4 class="main-card--heading">The beautiful beginning</h4>
                  <p>
                    We procured the 1st license in Karnataka and decided to change the way Bike rentals worked in India. With 5 motorcycles and a pocket full of confidence the journey started.
                  </p>
                </div>
                <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/earn-with-us-sun-0f2b3091e4e998eb847f7ec7b6337617a929c1167ecec3774058e68fb532a644.png" alt="sunrise picture" class="responsive-img">
              </div>
            </div>
            <div class="line"></div>
            <div class="cards">
              <div class="main-card">
                <div class="main-card-text">
                  <h3 class="main-card--heading">Striving to create a legacy
                  </h3>
                  <p>The concept of shared mobility picked up in India and so did our brand. We moved from 3 cities in Karnataka to 40+ cities across India. Launched guided tours and marked our presence in a new domain and rewrote the rules riding across South India.
                  </p>
                </div>
                <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/about_us_helmet-f2e35cc07ecf66a0dade8ead2d0ac347223a50e57dc250b266ae91fc5be7dbb4.png" alt="about us helmet" class="responsive-img">
              </div>
            </div>
            <div class="line"></div>
            <div class="cards">
              <div class="main-card">
                <div class="main-card-text">
                  <h3 class="main-card--heading">Doing it Right.
                  </h3>
                  <p>History had to be rewritten and what could have been better than repeating our growth story. We became the mobility partners of Jaipur metro for last mile connectivity, grew at an annual rate of 300%, reached international locations, introduced interstate travel options etc.
                  </p>
                </div>
                <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/about_us_transit-8986f20f259f4863e753c3240970b64baad0b45e20142d6b66b3f93d3e429e11.png" alt="about us transit" class="responsive-img">
              </div>
            </div>
            <div class="line"></div>
            <div class="cards">
              <div class="main-card">
                <div class="main-card-text">
                  <h3 class="main-card--heading">All set to touch new heights
                  </h3>
                  <p>This year marks our 1st external funding. Angel investors invested in the primary and secondary investment rounds taking the company from a bootstrapped to a funded venture.
                  </p>
                </div>
                <img src="https://d36g7qg6pk2cm7.cloudfront.net/assets/icons/about_us_scooty-64a3230ca0d7adf82c054395d3a13630bfeb3da2bd86365adeb99187314caf30.png" alt="about us scooty" class="responsive-img">
              </div>
            </div>
            <div class="line"></div>
            <div class="cards">
              <p class="stay-tuned">
                Stay tuned for more
                <span>...</span></p>
            </div>
          </div>
        </div>
      </section>
    <h3>Contact Us</h3>
    <p>If you have any questions or feedback, feel free to reach out to us:</p>
    <ul>
      <li>Phone: +91 8877543261</li>
      <li>Address: Chandanagar,Hyderabad,Telangana</li>
    </ul>
  </div>
</div>
  
