.img{
    margin-left:-50px;
}
.form-group{
    margin-top: 10px;
    margin-left: -25px;
    width:350px;
}
.hi{
    margin-top: 10px;
    margin-left: -30px;
    font-family:'Times New Roman', Times, serif;
    font-size:40px;
}