<div class="home-container">
    <h2>Welcome to our MI Rental Service!</h2>
    <p>Start your pocket-friendly journey today..</p>
  </div>
  <div class="col-md-12">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block" src="/assets/rent.jpg" width="1400"alt="First slide">
        <div class="carousel-caption animated slideInDown">
          <h3>Adventure awaits around every corner. Enjoy the journey with our bikes and cars</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block" src="/assets/car.jpg" width="1350" alt="Second slide">
        <div class="carousel-caption animated glitter">
          <h3>Four wheels, countless memories:<br>
             that's the essence of a family road trip</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block" src="/assets/bike.jpg" alt="Third slide">
        <div class="carousel-caption animated marquee">
          <h3>Leave the map behind and follow the call of the wild. Rent a bike, let your curiosity guide you, and rediscover the joy of solo travel.</h3>
        </div>
      </div>  
    </div>
  </div>
</div>
